<%- include("./partials/header.ejs") %>

<main>
    <h2 class="page-title">All Of Our Favourites</h2>

    <div class="card-container">
        <!--Card version of all posts-->
        <% posts.forEach(post => { %>
            <div class="card">
                <h3 class="card-title"><%= post.title %></h3>
                <div class="card-genre"><%= post.genre %></div>
                <div class="card-date"><%= post.createdAt %></div>
                <div class="card-description"><%= post.description %></div>
                <div class="card-buttons">
                    <a href="/<%= post.urlFriendlyTitle %>"><button class="body-btn read-more">Read More</button></a>
                    <a href="/post/<%= post.urlFriendlyTitle %>/edit"><button class="body-btn edit-post">Edit Post</button></a>
                    <button class="body-btn red-btn" onclick="deletePost('<%= post.urlFriendlyTitle %>')">Delete</button>
                </div>
            </div>
        <%}) %>
    </div>
</main>

<!--function for deleting posts-->
<script>
function deletePost(urlFriendlyTitle) {
  //Confirmation dialog
  const isConfirmed = confirm("Are you sure you want to delete this post?");

  //if confirmed
  if (isConfirmed) {
      //Send delete request
      fetch(`/post/${urlFriendlyTitle}`, {
          method: 'DELETE'
      }).then(response => {
          if (response.ok) {
              //reload the page after deleting the post
              window.location.reload();
          } else {
              //alert in case of failure
              alert("Failed to delete the post.")
          }
      }).catch(error => {
          //alert if there's an error
          console.error('Error:', error);
          alert("Failed to delete the post.");
      })
  }
}
</script>

<%- include("./partials/footer.ejs") %>